[Unit]
Description=Mirantis rpc agent

[Service]
WorkingDirectory={INSTALL}
Environment="PYTHONUNBUFFERED=1" "PYTHONPATH={INSTALL}"
Type=simple
ExecStart="{INSTALL}/python/python3.7" -m agent.server server --config '{CONFIG_PATH}'
StandardOutput=null

[Install]
WantedBy=multi-user.target
